<%= turbo_frame_tag dom_id(account) do %>
  <div class="account card card-body col-3.5">
    <div><%= account.account_type %></div>
    <div><%= account.description %></div>
    <div><%= account.balance %></div>

    <div class="mt-2">
      <%= link_to "Edit", edit_account_path(account) %>
      <%= link_to "Delete", account_path(account), method: :delete %>
    </div>
  </div>
<% end %>
