<div class="form-container" style="border: black 1px solid">
  <%= form_with(model: account, id: dom_id(account)) do |form| %>
    <% if account.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(account.errors.count, "error") %> prohibited this account from being saved:</h2>

        <ul>
          <% account.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="account-field" style="display: flex; justify-content: space-between; margin: 20px;">
      <%= form.label :account_type %>
      <div class="form-input">
        <%= form.text_field :account_type %>
      </div>
    </div>

    <div class="account-field">
      <%= form.label :description %>
      <div class="form-input">
        <%= form.text_area :description %>
      </div>
    </div>

    <div class="account-field">
      <%= form.label :balance %>
      <div class="form-input">
        <%= form.text_field :balance %>
      </div>
    </div>

    <div class="actions account-field">
      <%= form.submit %>
    </div>
  <% end %>
</div>
