<p id="notice"><%= notice %></p>

<h1>Accounts</h1>

<%= turbo_stream_from "accounts" %>

<div class="row">
  <div class="col">
    <%= turbo_frame_tag "account_form" do %>
      <%= render "accounts/form", account: @account %>
    <% end %>
  </div>
  
  <div class="col-8">
    <%= turbo_frame_tag "accounts" do %>
      <%= render @accounts %>
    <% end %>
  </div>

</div>

<%= button_to "logout", destroy_user_session_path, method: :delete  %>
