<p id="notice"><%= notice %></p>

<h1>Accounts</h1>

<%= turbo_stream_from "accounts" %>

<%= turbo_frame_tag "account_form" do %>
  <%= render "accounts/form", account: @account %>
<% end %>

<%= turbo_frame_tag "accounts" do %>
  <%= render @accounts %>
<% end %>

<%= button_to "logout", destroy_user_session_path, method: :delete  %>
